.services-card__info-wrap {
  padding: 40px 10px 40px 40px;
}

.services-card {
  height: 100%;
  max-width: 420px;
  border-radius: 2px;
  margin: 0px 8px;
  box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
  transition: ease-in 0.4s;
}

.services-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.services-card__img-wrap {
  display: flex;
  width: 100%;
}

.services-card__list-item {
  line-height: 32px;
}

.services-card__img {
  max-width: 100%;
  width: 100%;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .services-card {
    margin-bottom: 20px;
    max-width: 45%;
    width: 100%;

    &__title {
      font-size: 18px;
    }
    &__list-item {
      font-size: 13px;
    }
    &__info-wrap {
      padding: 30px 10px 30px 15px;
    }
  }
}

@media screen and (max-width: 500px) {
  .services-card {
    max-width: 80%;
    width: 100%;
  }
}
